@forward "./cards/card.scss";
@forward "./cards/cards-pagination.scss";
@use "../../global/variables.scss" as var;

.cards {
  margin-block-start: 17px;

  @media (min-width: var.$breakpoint-tablet) {
    margin-block-start: 27px;
  }

  @media (min-width: var.$breakpoint-desktop) {
    margin-block-start: 25px;
  }
}

.cards__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 20px;

  @media (min-width: 550px) {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  @media (min-width: 850px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
