@forward "./main-form/fieldset.scss";
@forward "./main-form/range-slider.scss";
@use "../../global/variables.scss" as var;

.main-form {
  display: flex;
  flex-direction: column;
  gap: 31px;

  @media (min-width: var.$breakpoint-tablet) and (max-width: (var.$breakpoint-desktop - 0.2px)) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 40px;
  }
}

.main-form__buttons-container {
  display: flex;
  flex-direction: column;
  gap: 21px;

  @media (min-width: var.$breakpoint-tablet) {
    grid-column: 1 / -1;
    justify-self: center;
    flex-direction: row;
    width: 277px;
  }

  @media (min-width: var.$breakpoint-desktop) {
    margin-block-start: 9px;
    width: 100%;
    align-items: stretch;
  }
}
