@use "../global/variables.scss" as var;

.badge {
  color: var.$color-primary;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-align: center;
  text-transform: uppercase;
}
