@use "../global/variables.scss" as var;

.swiper-slide {
  height: unset;
}

.swiper-pagination {
  transform: translateY(-20px);
}

.swiper-pagination-bullet {
  display: none;
  width: 62px;
  height: 4px;
  border-radius: 0;
  background: #ffffff;
  opacity: 1;

  @media (min-width: var.$breakpoint-desktop) {
    display: inline-block;
  }
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: var.$color-primary;
}

.swiper-button-prev,
.swiper-button-next {
  width: 20px;
  height: 100%;
  margin: 0;
  top: 0;

  @media (min-width: var.$breakpoint-tablet) {
    width: 80px;
  }
}

.swiper-button-prev {
  left: 0;

  &:hover,
  &:focus-visible {
    background: linear-gradient(to left, transparent, var.$color-white);
  }

  &:active {
    background: linear-gradient(to left, transparent, var.$color-primary-25a);
  }
}

.swiper-button-next {
  right: 0;

  &:hover,
  &:focus-visible {
    background: linear-gradient(to right, transparent, var.$color-white);

    &:active {
      background: linear-gradient(to right, transparent, var.$color-primary-25a);
    }
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-top: 2px solid var.$color-primary;
  border-right: 2px solid var.$color-primary;
}

.swiper-button-prev::after {
  transform: translateX(4px) rotate(-135deg);
}

.swiper-button-next::after {
  transform: translateX(-4px) rotate(45deg);
}

.swiper-button-disabled::after {
  border-color: var.$color-black;
}

/* .swiper-button-next,
        .swiper-button-prev {
          background-color: white;
          background-position: center;
          background-size: 40px;
          background-repeat: no-repeat;
          padding: 8px 16px;
          border-radius: 100%;
          border: 2px solid black;
          color: red;
        }

        .swiper-button-prev {
          background-image: url("/box-arrow-in-left.svg");
        }

        .swiper-button-next {
          background-image: url("/box-arrow-in-right.svg");
        }

        .swiper-button-next::after,
        .swiper-button-prev::after {
          content: "";
        } */
