@use "../global/variables.scss" as var;

.title {
  // margin: 0;
  color: var.$color-black;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;

  @media (min-width: var.$breakpoint-tablet) {
    font-size: 42px;
    line-height: 64px;
  }

  &--hero {
    margin-block-start: 4px;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.72px;

    @media (min-width: var.$breakpoint-tablet) {
      font-size: 56px;
      line-height: 80px;
    }
  }

  &--card {
    color: inherit;
    text-align: start;
    font-size: 18px;
    line-height: 32px;
  }
}
