@use "../global/variables.scss" as var;

.title {
  color: var.$color-black;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.72px;

  @media (min-width: var.$breakpoint-tablet) {
    font-size: 56px;
    line-height: 80px;
  }
}
