@use "../../../global/variables.scss" as var;

.card {
  border-radius: 4px;
  padding: 20px;
  padding-block-start: 40px;
  background-color: var.$color-white;
  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: 0 5px 15px 0 var.$shadow-black-15a;
  }
}

.card__link {
  color: var.$color-black;
  display: flex;
  flex-direction: column;
  font-size: unset;
  text-decoration: unset;

  &:hover {
    color: var.$color-primary;
  }
}

.card__image {
  order: -1;
  align-self: center;
}

.card__title {
  margin: 0;
  margin-block-start: 17px;
}

.card__description {
  margin: 0;
  margin-block-start: 4px;
  font-size: 14px;
  line-height: 20px;
}

.card__footer {
  margin-block-start: auto;
  padding-block-start: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card__price {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}
