@use "../global/variables.scss" as var;

.pixel-perfect {
  &--site-nav {
    @media (min-width: var.$breakpoint-tablet) {
      transform: translateX(3px);
    }
  }

  &--fieldsets {
    @media (max-width: var.$mobile-only) {
      transform: translateX(3px);
    }
  }

  &--origin-fieldset {
    @media (max-width: var.$mobile-only) {
      transform: translateY(2px);
    }
  }

  &--card-price {
    transform: translateX(-2px);
  }

  &--footer-section-contacts {
    padding-block-end: 18px;
  }
}
