@use "./../../../global/variables.scss" as var;

.fieldset {
  border: none;
  margin: 0;
  // margin-block-start: 20px;
  padding: 0;
}

.fieldset__legend {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.fieldset__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-block-start: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fieldset__slider {
  margin-block-start: 30px;

  @media (min-width: var.$breakpoint-tablet) {
    margin-block-start: 31px;
  }
}

.fieldset__labels {
  margin-block-start: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: var.$breakpoint-tablet) {
    margin-block-start: 33px;
  }
}

.fieldset__label {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
  line-height: 24px;

  &:has([disabled]) {
    color: var.$color-gray;
  }
}

.fieldset__label-range {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.fieldset__labels-separator {
  display: inline-block;
  padding-inline: 19px;

  @media (min-width: var.$breakpoint-tablet) {
    padding-inline: 21px;
  }
}


.fieldset__input-range {
  width: 100%;
  padding-block: 6px;
  padding-inline: 8px;
  border: 2px solid var.$color-primary-lighter;
  border-radius: 4px;

  text-align: center;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  &::placeholder {
    color: var.$color-gray;
  }

  &:focus,
  &:active {
    outline: none;
    border: 2px solid var.$color-primary-darker;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &[disabled] {
    border: 2px solid var.$color-gray;
    color: var.$color-gray;
  }

  appearance: textfield;
}

.fieldset__input-radio {
  appearance: none;
  margin: 0;
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var.$color-primary;

  &:disabled {
    border-color: var.$color-gray;
  }

  &::after,
  &:disabled::after,
  &:disabled:hover::after {
    display: block;
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: transparent;
    top: 2px;
    left: 2px;
    transition: 200ms;
  }

  &:hover::after,
  &:focus-visible::after {
    background-color: var.$color-primary-25a;
  }

  &:checked::after {
    background-color: var.$color-primary;
  }

  &:checked:disabled::after {
    background-color: var.$color-gray;
  }
}

.fieldset__input-checkbox {
  appearance: none;
  margin: 0;
  position: relative;
  width: 42px;
  height: 24px;
  border: 2px solid var.$color-gray;
  border-radius: 12px;
  background-color: var.$color-gray;
  transition: 200ms;

  &:hover,
  &:focus-visible {
    border-color: var.$color-primary;
    background-color: var.$color-primary-25a;
  }

  &:checked {
    background-color: var.$color-primary;
    border-color: var.$color-primary;
  }

  &:checked:disabled:hover {
    background-color: var.$color-gray-light;
    // border-color: var.$color-primary;
  }

  &:checked:hover,
  &:checked:focus-visible {
    background-color: var.$color-primary-65a;
  }

  &:disabled {
    background-color: var.$color-gray-light;
    border-color: var.$color-gray-light;
  }

  &::after {
    display: block;
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var.$color-white;
    left: 0;
    transition: 200ms;
  }

  &:checked::after {
    left: 18px;
  }

  &:checked:disabled::after {
    background-color: var.$color-gray;
  }
}
