@use "./../../../global/variables.scss" as var;

$color-disabled: var.$color-gray;

.noUi-target {
  background-color: var.$color-gray;
  border: none;
  box-shadow: none;
  padding-inline-start: 7px;
  padding-inline-end: 17px;

  &[disabled] {
    background-color: $color-disabled;
  }
}

.noUi-horizontal {
  height: 2px;
}

.noUi-connects {
  height: 4px;
}

.noUi-base {
  transform: translateY(-1px);
}

.noUi-connect {
  background-color: var.$color-primary-lighter;

  [disabled] & {
    background-color: $color-disabled;
  }
}

.noUi-handle.noUi-handle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: none;
  border: 2px solid var.$color-primary-lighter;
  top: -10px;

  &:hover,
  &:focus-visible {
    outline: none;
  }

  &::before {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    left: 2px;
    top: 2px;
    background-color: transparent;
  }

  [disabled] & {
    pointer-events: none;
    border: 2px solid $color-disabled;
    background-color: var.$color-white;
  }

  &::after {
    display: none;
  }

  &:hover::before,
  &:focus-visible::before {
    background-color: var.$color-gray;
  }

  &:active::before {
    background-color: var.$color-primary;
  }
}
